<div class="ui container">
  {{#link-to "application" }}<button class="ui button">Home</button>{{/link-to}}
  {{#link-to "projects" }}<button class="ui button">Projects</button>{{/link-to}}
  {{#link-to "developers" }}<button class="ui button">Developers</button>{{/link-to}}
  <br>
  <br>
</div>
{{outlet}}